
<footer id ="footer" class="pt-4 pb-4">
        <div class="container">
          <div class="row text-center">
            <div class="col-12 col-lg col-md">
              <a href="#preguntas">preguntas frecuentes</a>
            </div>
            <div class="col-12 col-lg">
              <a href="#">contactanos</a>
            </div>
            <div class="col-12 col-lg">
              <a href="#">terminos y condiciones</a>
            </div>
            <div class="col-12 col-lg">
              <a href="#">privacidad</a>
            </div>
            <div class="col-12 col-lg">
              <a href="#">referencias</a>
            </div>
            <div class="col-12 text-white">
              brothersgold 2021
            </div>
                    
          </div>
      </div>
      
    </footer>